
  .chatperson{
    display: block;
    border-bottom: 1px solid #eee;
    width: 100%;
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 15px;
    padding: 4px;
  }
  .chatperson:hover{
    text-decoration: none;
    border-bottom: 1px solid orange;
  }
  .namechat {
      display: inline-block;
      vertical-align: middle;
  }
  .chatperson .chatimg img{
    width: 40px;
    height: 40px;
    background-image: url('http://i.imgur.com/JqEuJ6t.png');
  }
  .chatperson .pname{
    font-size: 18px;
    padding-left: 5px;
  }
  .chatperson .lastmsg{
    font-size: 12px;
    padding-left: 5px;
    color: #ccc;
  }